html, body{
  overflow-x: hidden !important;
}
.navbar-brand{
  width:200px !important;
}

.mright{
  margin-right: 80px;
}

h1{
  font-family:Poppins;
  font-weight:700;
  font-size:56px;
  margin-top:60px;
}
h2{
  font-family:Poppins;
  font-weight:500;
  margin-top:60px;
  
 
}
h3{
  font-family:Poppins;
  font-weight:500;
  margin-top:25px;
  color: rgb(153,153,153);
 
}
h4{
  font-family:Poppins;
  font-weight:500;
  margin-top:25px;
  margin-bottom:30px;
  
}
h5{
  font-family:Poppins;
  font-weight:500;
  text-align: center;
  margin-bottom: 20px;
  margin-top:20px;
}
h6{
  font-family:Poppins;
  font-weight:400;
  
}
.container-fluid{
    width: 100%;
    padding-right: 0px !important; 
    padding-left: 0px !important;
    margin-right: auto;
    margin-left: auto;
}
.btn-primary {
    color: #fff;
    background-color: rgb(225,96,64) !important;
    border-color: rgb(225,96,64) !important;
}
.btn-outline-success {
    color: #fff;
    background-color: rgb(225,96,64);
    background-image: none;
    border-color: rgb(225,96,64);
}
#appSummary{
    justify-content:center;
}
.margintop{
  margin-top: 20px;
}
.graybg{
  background-color: rgb(245,245,245);
}
.paddingrow{
  padding-right: 50px;
  padding-left:50px;
  padding-bottom:80px;
}
@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.5rem;
    padding-left: .5rem;
}
}